page-landing{
    background: url(/assets/imgs/login.jpg);
    background-size: auto 100%; 
    .card-background-page{
        background: transparent; 
        ion-card{
            background: rgba(253, 253, 253, 0.79);
            img{
                max-width: 250px;
                margin: auto;
            }
        }
    }
}