page-home {
    ion-title{
        background: url("../assets/imgs/login.jpg") right;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: auto 100%;
        h1{
            font-size: 5rem;
            text-shadow: 0px 0px 20px white;
        } 
    }
}
