.thumbnails[no-padding]{
    .scroll-content{
        padding-top: 56px;
        background: #9E9E9E;
        ion-toolbar{
            .toolbar-content{
                display: flex;
                button{
                    box-shadow: 0 0;
                }
            }
        }
    }
    ion-card.thumbnail-card{
        display: inline-flex;
        height: 120px;
        position: relative;
        img{
            width: 100px;
        }
        ion-card-content{
            padding: 0;
            button{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
    button.category{
        position: fixed;
        bottom: 56px;
        right: 10px;
    }
}